{% block content %}
    <h2>Events</h2>
    <div><a href="{% url 'event-add' %}">Create new</a></div>
    <section>
        {% for event in object_list %}
            <h3>{{ event.name }}</h3>
            <div>{{ event.description }}</div>
            <div>📍 {{ event.location }}</div>
            <div>📆 {{ event.date }}</div>
            {% if event.cover_image %}
                <div><img src="{{ event.cover_image.url }}" width="400" /></div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}